@model IEnumerable<WebApplication3.Models.Product>

@{
    ViewBag.Title = "XemDanhSach";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}


<h2>XemDanhSach</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemDuLieu")
</p>

<div class="col-md-6">
    @using (Html.BeginForm("XemDanhSach", "Objects", FormMethod.Get))
    {
        <div class="input-group mb-2">
            @Html.TextBox("tim", Request["tim"], new { @class = "form-control", placeholder = "Tìm theo tên..." })
        </div>
        <div class="input-group mb-2">
            @Html.TextBox("giatu", Request["giatu"], new { @class = "form-control", placeholder = "Giá từ..." })
            @Html.TextBox("giaden", Request["giaden"], new { @class = "form-control", placeholder = "Giá đến..." })
        </div>
        <div class="input-group">
            <button class="btn btn-primary" type="submit">Tìm</button>
        </div>
    }
</div>


<div class="col-md-4">
    @using (Html.BeginForm("XemDanhSach", "Objects", FormMethod.Get))
    {
        <div class="input-group">
            @Html.TextBox("ten", Request["ten"], new { @class = "form-control", placeholder = " Tìm theo tên ....." })
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </div>
        </div>
    }
</div>

<!-- Sắp xếp -->
<div class="col-md-4 text-md-right mt-3 mt-md-0">
    <div class="btn-group" role="group">
        @Html.ActionLink("Sắp xếp theo tên", "XemDanhSach", new { sx = ViewBag.sapxeptheoten,  gia = Request["gia"] }, new { @class = "btn btn-outline-secondary" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Catalogy.CatalogyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vintage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Catalogy.CatalogyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <div class="d-inline-block text-truncate" style="max-width: 300px;">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vintage)
            </td>
            <td>
                <img src="@Url.Content("~/Images/" + item.Image)" width="100" height="100" alt="Ảnh rượu" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Xóa", "XoaDuLieu", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>

