
@{
    Layout = "~/Views/Shared/_View.cshtml";
}

<h2>Xuat</h2>

<p>Ho ten: @ViewBag.firstname @ViewBag.lastname</p>
<p>Gioi tinh: @ViewBag.gioitinh</p>
<p>Ngya sinh: @ViewBag.thangsinh @ViewBag.namsinh</p>
<p>So thich: @ViewBag.sothich</p>
<p>Luong: @ViewBag.luong</p>
<p>Ngay lam viec: @ViewBag.ngaylv</p>