@model TH04ASP.Models.NhanVien
@{
    ViewBag.Title = "Nhap";
}

<h2>Nhap</h2>

<div class="form-wrapper">
    @using (Html.BeginForm("Xuat","QuanlyNhanVien", FormMethod.Post))
    {
        <div class="form-group">
            <label>Ma nahn vien</label>
            @Html.TextBoxFor(m => m.manv)
        </div>
        <div class="form-group">
            <label>Ten nhan vien</label>
            @Html.TextBoxFor(m => m.hoten)
        </div>
        @*<div class="form-group">
            <label>Ten nhan vien</label>
            @Html.DropDownListFor(m => m.diachi , new List<SelectListItem>
{
    new SelectListItem { Text = "HA noi", Value = "HA noi" },
    new SelectListItem { Text = "Hai Phong", Value = "Hai phong" },
    new SelectListItem { Text = "Quang ninh", Value = "Quang ninh" }
}, "Chọn địa chỉ")
        </div>*@
<div class="form-group">
    <label>So luong</label>
    <input type="checkbox" name="diachi" value="Hà Nội" /> Hà nội
    <input type="checkbox" name="diachi" value="Hai Phong" />Hải phòng



</div>
        <div class="form-group">
            <label>So luong</label>
            @Html.TextBoxFor(m => m.songaylam)
        </div>
        <div class="form-group">
            <label>Luong ngay</label>
            @Html.TextBoxFor(m => m.luongngay)
        </div>

        <button type="submit">Nhap</button>
 
    }
</div>

<style>
    .form-group {
        margin-bottom: 20px;
    }
    label{
        width: 100px;
    }
</style>