@model TH04ASP.Models.NhanVien
@{
    ViewBag.Title = "Xuat";
}

<h2>Xuat</h2>

<ul>
    <li>@Model.manv</li>
    <li>@Model.hoten</li>
    <li>@Model.songaylam</li>
    <li>@Model.luongngay</li>
    <li>@Model.tienluong</li>
    <li>@Model.diachi</li>
</ul>