
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_View</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        *{margin: 0;
          padding:0;
          box-sizing: border-box;
        }
        body {
            background-color: #ffffff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            
        }
        .chung {
            width: 60%;
            display: flex;
            flex-direction:column;
            justify-content: center;
            background-color: aquamarine;
        }
        header{
            height:10%;
            background-color:bisque;
        }
        nav{
            background-color:blueviolet;
            height:15%;
        }
        nav ul li a {
            font-weight:bold;
            color: white;
            text-decoration:none;
               
         }
        a:hover{
            color:aqua;
        }
        footer{
            height:15%;
            background-color:chartreuse;
        }
    </style>
</head>
<body>
    <div class="chung border border-white mx-auto" > 
        <header class="w-100 " >
            <h1 class="text-center ">Website TH01</h1>
        </header>
        <nav class="w-100">
            <ul class="text-center">
                <li class="py-1 px-5 d-inline-block">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="py-1 px-5  border-start d-inline-block">@Html.ActionLink("About", "About", "Home")</li>
                <li class="py-1 px-5  border-start d-inline-block">@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </nav>
        <div>
            @RenderBody()
        </div>
        <footer class="mt-5 ">
            <h2 class="text-center ">Cảm ơn đã xem website</h2>
        </footer>
    </div>
</body>
</html>
